In [ ]:
#Name :Lavanya.B
#Register.No: 21UAI049
#Assignment 2

In [ ]:
#Inheritance

In [2]:
class Base1(object):
    def __init__(self):
        self.str1 = "Lavanya"
        print("Base1")
 
 
class Base2(object):
    def __init__(self):
        self.str2 = "Balakrishnan"
        print("Base2")
 
 
class Derived(Base1, Base2):
    def __init__(self):
 
        Base1.__init__(self)
        Base2.__init__(self)
        print("Derived")
 
    def printStrs(self):
        print(self.str1, self.str2)
 
 
ob = Derived()
ob.printStrs()

Base1
Base2
Derived
Lavanya Balakrishnan

In [1]:
class Base(object):
 
    def __init__(self, name):
        self.name = name
 
    def getName(self):
        return self.name
 

class Child(Base):
 
    def __init__(self, name, age):
        Base.__init__(self, name)
        self.age = age
 
    def getAge(self):
        return self.age
 
 
class GrandChild(Child):
 
    def __init__(self, name, age, address):
        Child.__init__(self, name, age)
        self.address = address
 
    def getAddress(self):
        return self.address
 
 
g = GrandChild("Lavanya", 18, "Maldives")
print(g.getName(), g.getAge(), g.getAddress())

Lavanya 18 Maldives

In [3]:
#Public
class age:
      
     def __init__(self, name, age):
           
           self.ageName = name
           self.ageAge = age
      
     def displayAge(self):
           
           print("Age: ", self.ageAge)
 
obj = age("Lavanya", 18)
 
print("Name: ", obj.ageName)
 
obj.displayAge()

Name:  Lavanya
Age:  18

In [4]:
#Protected
class Student:
    
     _name = None
     _roll = None
     _branch = None
    
     def __init__(self, name, roll, branch): 
          self._name = name
          self._roll = roll
          self._branch = branch
      
     def _displayRollAndBranch(self):
 
          print("Roll: ", self._roll)
          print("Branch: ", self._branch)
 

class Display(Student):

       def __init__(self, name, roll, branch):
                Student.__init__(self, name, roll, branch)
        
       def displayDetails(self):
                   
                print("Name: ", self._name)
                   
                self._displayRollAndBranch()
 
obj = Display("Lavanya",45678, "Artificial Intelligence and Data Science")

obj.displayDetails()

Name:  Lavanya
Roll:  45678
Branch:  Artificial Intelligence and Data Science

In [5]:
class Display:
    
     __name = None
     __roll = None
     __branch = None
 
     def __init__(self, name, roll, branch): 
          self.__name = name
          self.__roll = roll
          self.__branch = branch
 
     def __displayDetails(self):
           
           print("Name: ", self.__name)
           print("Roll: ", self.__roll)
           print("Branch: ", self.__branch)
    
     def accessPrivateFunction(self):
            
           self.__displayDetails() 
    
obj = Display("Lavanya",611528, "Artificial Intelligence and Data science")
 
obj.accessPrivateFunction()

Name:  Lavanya
Roll:  611528
Branch:  Artificial Intelligence and Data science

In [6]:
#Exception Handling

In [7]:
import numpy as np
import pandas as pd
val1 = np.array([0, None, 4, 4])
val1

array([0, None, 4, 4], dtype=object)

In [8]:
for dtype in ['object', 'int']:
    print("dtype =", dtype)
    %timeit np.arange(1E6, dtype=dtype).sum()
    print()

dtype = object
97.5 ms ± 28.7 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

dtype = int
4.54 ms ± 68.1 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [9]:
val2 = np.array([8, np.nan, 4, 18]) 
val2.dtype

dtype('float64')

In [10]:
val2.sum(), val2.min(), val2.max()

(nan, nan, nan)

In [11]:
np.nansum(val2), np.nanmin(val2), np.nanmax(val2)

(30.0, 4.0, 18.0)

In [12]:
x = pd.Series(range(5), dtype=int)
x

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [13]:
x[0] = None
x

0    NaN
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64

In [14]:
data = pd.Series([1, np.nan, 'Hi', None])

In [15]:
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [16]:
data.dropna()

0     1
2    Hi
dtype: object

In [17]:
df = pd.DataFrame([[7,      np.nan, 9],
                   [2,      4,      5],
                   [np.nan, 9,      6]])
print(df)
df.dropna(axis='columns')

     0    1  2
0  7.0  NaN  9
1  2.0  4.0  5
2  NaN  9.0  6

   2
0  9
1  5
2  6

In [18]:
#Regular Expression

In [19]:
import re

txt = "The rain in Paris"
a = re.search("^The.*Paris$", txt)

In [20]:
import re

txt = "The rain in Paris"
x= re.findall("in", txt)
print(x)

['in', 'in']

In [21]:
import re

txt = "The rain in Spain"
x = re.findall("Spain", txt)
print(x)

['Spain']

In [22]:
import re

txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [23]:
import re

txt = "The rain in Paris"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Paris']

In [6]:
import re

txt = "Hello world"
x = re.sub("\s", "1", txt)
print(x)

Hello1world

In [7]:
import re

txt = "Hello this is python "
x = re.sub("\s", "8", txt, 2)
print(x)

Hello8this8is python

In [26]:
#numpy

In [27]:
#Aggregation

In [28]:
import pandas as pd
import numpy as np
df = pd.DataFrame([[9, 8, 7],
                   [6, 5, 4],
                    [3, 2, 1],
                   [np.nan, np.nan, np.nan]],
                  columns=['A', 'B', 'C'])
print(df)
print(df.agg(['sum', 'min']))
print(df.agg({'A' : ['sum', 'min'], 'B' : ['min', 'max']}))
print(df.agg("mean", axis="columns"))
print(df.agg("mean", axis="rows"))

     A    B    C
0  9.0  8.0  7.0
1  6.0  5.0  4.0
2  3.0  2.0  1.0
3  NaN  NaN  NaN
        A     B     C
sum  18.0  15.0  12.0
min   3.0   2.0   1.0
        A    B
sum  18.0  NaN
min   3.0  2.0
max   NaN  8.0
0    8.0
1    5.0
2    2.0
3    NaN
dtype: float64
A    6.0
B    5.0
C    4.0
dtype: float64

In [29]:
#Comparison

In [30]:
x1 = [16, 28, 35]
x2 = [10, 20, 30]
  
if  x1 is x2:
    print("Yes")
else:
    print("No")
  
x3 = x1
  
# So we get "Yes" here
if  x1 is x3:
    print("Yes")
else:
    print("No")

if  x1 == x3:
    print("Yes")
else:
    print("No")

No
Yes
Yes

In [31]:
x = 7
y = 3

print(x == y)

False

In [32]:
print(x != y)
print(x < y)
print(x > y)

True
False
True

In [33]:
print(x >= y)
print(x <= y)

True
False

In [34]:
#Mask

In [35]:
import pandas as pd
  
df = pd.DataFrame({"A":[18, 44, 58, 4, 1],
                   "B":[57, 72, 54, 93, 2],
                   "C":[20, 16, 77, 43, 8],
                   "D":[14, 3, 17, 2, 6]})
  
df

    A   B   C   D
0  18  57  20  14
1  44  72  16   3
2  58  54  77  17
3   4  93  53   2
4   1   2   8   6

In [36]:
df.mask(df > 8, -2)

   A  B  C  D
0 -2 -2 -2 -2
1 -2 -2 -2  3
2 -2 -2 -2 -2
3  4 -2 -2  2
4  1  2  8  6

In [37]:
import pandas as pd
   
df = pd.DataFrame({"A":[10, 9, 8, None, 1],
                   "B":[8, 2, 54, 3, None],
                   "C":[0, 164, 11, 3, 8],
                   "D":[1, 3, None, 2, 6]})
  
df.mask(df.isna(), 1000)

        A       B    C       D
0    10.0     8.0    0     1.0
1     9.0     2.0  164     3.0
2     8.0    54.0   11  1000.0
3  1000.0     3.0    3     2.0
4     1.0  1000.0    8     6.0

In [38]:
#Boolean Array

In [43]:
r=  [True for i in range(4)]
 
print ("The True initialized list is : " +  str(res))

The True initialized list is : [True, True, True, True, True, True, True]

In [44]:
r =  [True] * 7

print ("The True initialized list is : " +  str(res))

The True initialized list is : [True, True, True, True, True, True, True]

In [41]:
a = list(bytearray(6))

print ("The False initialized list is : " +  str(res))

The False initialized list is : [True, True, True, True, True, True, True]

In [42]:
arr_1 = np.random.randn(3, 3)
arr_2 = np.random.randn(3, 3)

bool_arr = arr_1 < 0.5    
print(bool_arr.dtype)

bool_arr = arr_1 < arr_2
print(bool_arr.dtype)

bool
bool